@import url('https://fonts.cdnfonts.com/css/star-wars');

$white: #fff;

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Star Wars', sans-serif;
    box-sizing: border-box;
    background-color: black;
    min-height: 100vh;
    color: $white;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    justify-content: center;
    display: flex;
    text-align: center;
    background-image: url('../assets/header.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px 5px $white;
}

h1 {
    color: $white;
}

main {
    flex-grow: 1;
}

.option-container {
    width: 500px;
    height: 50px;
    background-color: yellow;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.submarine, .cruiser, .battleship, .carrier, .destroyer {
    background-color: aqua;
}

.cruiser-preview, .battleship-preview, .carrier-preview, .destroyer-preview, .submarine-preview {
    height: 10px;
    margin: 3px;
}

.cruiser-preview { width: 30px; }
.battleship-preview { width: 40px; }
.carrier-preview { width: 50px; }
.destroyer-preview { width: 20px; }
.submarine-preview { width: 30px; }

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: $white;
}

footer a {
    color: #00f;
    text-decoration: none;
}