@import url('https://fonts.cdnfonts.com/css/star-wars');

$white: #fff;


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Star Wars', sans-serif;
    box-sizing: border-box;
    background-color: black;
}

header {
    justify-content: center;
    display: flex;
    text-align: center;
    background-image: url('../assets/header.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 5px $white;
}

h1 {
    color: $white;
}

