@import url('https://fonts.cdnfonts.com/css/star-wars');

$white: #fff;


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Star Wars', sans-serif;
    box-sizing: border-box;
    background-color: black;
}

header {
    justify-content: center;
    display: flex;
    text-align: center;
    background-image: url('../assets/header.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 5px $white;
}

h1 {
    color: $white;
}

h2 {
    color: $white;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

section {
    flex: 1;
}


.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 5px;
    justify-content: center;
    
}

.grid div {
    width: 30px;
    height: 30px;
    background-color: $white;
    border: 1px solid #fff;
}

#controls {
    margin-top: 20px;
}

#controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#player-board, #computer-board {
    h2 {
        display: flex;
        justify-content: center;

    }
}

button {
    background-color: #FFD700;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background-color: #FFA500;
}

